Orchard_Project_Library/.vs/Orchard_Project_Library/DesignTimeBuild/.dtbcache.v2
Orchard_Project_Library/.vs/Orchard_Project_Library/v17/.futdcache.v2
Orchard_Project_Library/.vs/Orchard_Project_Library/v17/.suo
Orchard_Project_Library/.vs/ProjectEvaluation/orchard_project_library.metadata.v7.bin
Orchard_Project_Library/.vs/ProjectEvaluation/orchard_project_library.projects.v7.bin
